
.expo/
dist/
web-build/


node_modules/


*.keystore
*.jks
*.p8
*.p12
*.pem
*.key
*.mobileprovision


.npmrc
.credentials/
credentials.json
service-account*.json
google-service-account*.json


.DS_Store
npm-debug.*
yarn-debug.*
yarn-error.*


server/.env
server/dist/
.env
.env.*
!.env.example
